<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsp.clothes.mapper.SysPermissionMapper">

    <resultMap id="BaseResultMap" type="com.lsp.clothes.model.entity.SysPermission">
            <id property="id" column="id" />
            <result property="permissionName" column="permission_name" />
            <result property="permissionCode" column="permission_code" />
            <result property="permissionType" column="permission_type" />
            <result property="parentId" column="parent_id" />
            <result property="path" column="path" />
            <result property="sortOrder" column="sort_order" />
            <result property="status" column="status" />
            <result property="description" column="description" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDelete" column="is_delete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,permission_name,permission_code,permission_type,parent_id,path,
        sort_order,status,description,create_time,update_time,
        is_delete
    </sql>

</mapper>
